.calculator-container{
    background-color: #3b4454;
    width: 300px;
    height: 390px;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    position: relative;
}