.calculator-screen--container{
    margin-top: 15px;
    width: calc(100% - 40px);
    background-color: transparent;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.calculator-screen--text{
    margin: 0;
    text-align: end;
    font-size: 36px;
    color: white;
}